@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: black;}

body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: url('../img/introImg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
}

.logo a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo:hover {
    background-color: #fff;
}

.logo:hover a {
    color: black;
}